// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Shoutout to Käpt'n Kadaver on Discord for choosing this palette
$primary   : #5f528a;
$secondary : #ffdba1;
$accent    : #da7092;
$primary-dark   : #40347a;
$secondary-dark : #f0c157;
$accent-dark    : #a74562;
$primary-light   : #7872a9;
$secondary-light : #ffefce;
$accent-light    : #f3b3d2;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
